<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlx.ssmshiro.dao.LoginLogMapper">
  <resultMap id="BaseResultMap" type="com.xlx.ssmshiro.entity.LoginLog">
    <constructor>
      <idArg column="log_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="account" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="request_uri" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="user_agent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="method" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="message" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ip" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    log_id, account, request_uri, user_agent, method, message, ip, gmt_create
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from login_log
    where log_id = #{logId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from login_log
    where log_id = #{logId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xlx.ssmshiro.entity.LoginLog">
    insert into login_log (log_id, account, request_uri, 
      user_agent, method, message, 
      ip, gmt_create)
    values (#{logId,jdbcType=BIGINT}, #{account,jdbcType=VARCHAR}, #{requestUri,jdbcType=VARCHAR}, 
      #{userAgent,jdbcType=VARCHAR}, #{method,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xlx.ssmshiro.entity.LoginLog">
    insert into login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        log_id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="requestUri != null">
        request_uri,
      </if>
      <if test="userAgent != null">
        user_agent,
      </if>
      <if test="method != null">
        method,
      </if>
      <if test="message != null">
        message,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="logId != null">
        #{logId,jdbcType=BIGINT},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null">
        #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        #{method,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xlx.ssmshiro.entity.LoginLog">
    update login_log
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="requestUri != null">
        request_uri = #{requestUri,jdbcType=VARCHAR},
      </if>
      <if test="userAgent != null">
        user_agent = #{userAgent,jdbcType=VARCHAR},
      </if>
      <if test="method != null">
        method = #{method,jdbcType=VARCHAR},
      </if>
      <if test="message != null">
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xlx.ssmshiro.entity.LoginLog">
    update login_log
    set account = #{account,jdbcType=VARCHAR},
      request_uri = #{requestUri,jdbcType=VARCHAR},
      user_agent = #{userAgent,jdbcType=VARCHAR},
      method = #{method,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where log_id = #{logId,jdbcType=BIGINT}
  </update>
</mapper>