<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlx.ssmpshiro.system.dao.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xlx.ssmpshiro.system.entity.Role">
        <id column="role_id" property="roleId" />
        <result column="role_key" property="roleKey" />
        <result column="role_name" property="roleName" />
        <result column="available" property="available" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        role_id, role_key, role_name, available, gmt_create, gmt_modified
    </sql>

</mapper>
