<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlx.shiro.system.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.xlx.shiro.system.entity.Role">
    <constructor>
      <idArg column="role_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="role_key" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="role_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="available" javaType="java.lang.Boolean" jdbcType="BIT" />
      <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    role_id, role_key, role_name, available, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_role
    where role_id = #{role_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_role
    where role_id = #{role_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xlx.shiro.system.entity.Role">
    insert into sys_role (role_id, role_key, role_name, 
      available, gmt_create, gmt_modified
      )
    values (#{role_id,jdbcType=BIGINT}, #{role_key,jdbcType=VARCHAR}, #{role_name,jdbcType=VARCHAR}, 
      #{available,jdbcType=BIT}, #{gmt_create,jdbcType=TIMESTAMP}, #{gmt_modified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xlx.shiro.system.entity.Role">
    insert into sys_role
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="role_id != null">
        role_id,
      </if>
      <if test="role_key != null">
        role_key,
      </if>
      <if test="role_name != null">
        role_name,
      </if>
      <if test="available != null">
        available,
      </if>
      <if test="gmt_create != null">
        gmt_create,
      </if>
      <if test="gmt_modified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="role_id != null">
        #{role_id,jdbcType=BIGINT},
      </if>
      <if test="role_key != null">
        #{role_key,jdbcType=VARCHAR},
      </if>
      <if test="role_name != null">
        #{role_name,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        #{available,jdbcType=BIT},
      </if>
      <if test="gmt_create != null">
        #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xlx.shiro.system.entity.Role">
    update sys_role
    <set>
      <if test="role_key != null">
        role_key = #{role_key,jdbcType=VARCHAR},
      </if>
      <if test="role_name != null">
        role_name = #{role_name,jdbcType=VARCHAR},
      </if>
      <if test="available != null">
        available = #{available,jdbcType=BIT},
      </if>
      <if test="gmt_create != null">
        gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      </if>
      <if test="gmt_modified != null">
        gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_id = #{role_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xlx.shiro.system.entity.Role">
    update sys_role
    set role_key = #{role_key,jdbcType=VARCHAR},
      role_name = #{role_name,jdbcType=VARCHAR},
      available = #{available,jdbcType=BIT},
      gmt_create = #{gmt_create,jdbcType=TIMESTAMP},
      gmt_modified = #{gmt_modified,jdbcType=TIMESTAMP}
    where role_id = #{role_id,jdbcType=BIGINT}
  </update>
</mapper>